.movie-list-container {
  padding-left: 100px;
  padding-right: 100px;
  transition: all 0.3s ease;
}

.movie-list-container .head-title h1 {
  color: #f1f1f1;
  margin: 20px 0 30px 0;
  font-size: 24px;
}

.movie-list-container .search-box input {
  outline: none;
  border: none;
  background-color: transparent;
  color: #f1f1f1;
  font-size: 14px;
  padding: 6px 10px;
  border-bottom: 2px solid #d35400;
  width: 300px;
  font-family: "Poppins", sans-serif;
}

.movie-list-container .error-box p {
  margin-top: 10px;
  color: #d35400;
  font-size: 14px;
}

.movie-list-container .loading-box {
  padding: 50px 0;
}

.movie-list-container .loading-box p {
  color: #f1f1f1;
  font-size: 22px;
}

.movie-list-container .list-container {
  padding: 80px 0;
  gap: 20px;
}

.movie-list-container .list-container .list-box {
  width: calc(100% / 7 - 18px);
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.movie-list-container .list-container .list-box:hover {
  transform: scale(1.05);
}

.movie-list-container .list-container .list-box .img-box {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.movie-list-container .list-container .list-box .img-box.contain-img {
  border: 1px solid #242424;
}

.movie-list-container .list-container .list-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-list-container .list-container .list-box .img-box.contain-img img {
  width: auto;
  height: auto;
  object-fit: contain;
}

.movie-list-container .list-container .list-box .info h1 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.movie-list-container .list-container .list-box:hover .info h1 {
  color: #d35400;
}

@media (max-width: 1700px) {
  .movie-list-container .list-container .list-box {
    width: calc(100% / 6 - 18px);
  }
}

@media (max-width: 1500px) {
  .movie-list-container .list-container .list-box {
    width: calc(100% / 5 - 18px);
  }
}

@media (max-width: 1500px) {
  .movie-list-container .list-container .list-box {
    width: calc(100% / 5 - 18px);
  }
}

@media (max-width: 1250px) {
  .movie-list-container .list-container .list-box {
    width: calc(100% / 4 - 16px);
  }
}

@media (max-width: 850px) {
  .movie-list-container .list-container .list-box {
    width: calc(100% / 3 - 14px);
  }
}

@media (max-width: 600px) {
  .movie-list-container .list-container .list-box {
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 500px) {
  .movie-list-container .list-container .list-box {
    width: calc(100% / 1 - 0px);
  }
  .movie-list-container .list-container .list-box .img-box {
    height: 550px;
  }
}

@media (max-width: 400px) {
  .movie-list-container .list-container .list-box .img-box {
    height: 400px;
  }
}

@media (max-width: 1023px) {
  .movie-list-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .movie-list-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
